/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body {
  font-family: "Nunito", sans-serif;
  color: #2d3436;
  background-image: url("./img/geometry.png");
}

.prevent-click {
  pointer-events: none;
}

button {
  font-family: "Nunito", sans-serif;
}

/* TOP SECTION */
/* GAME TITLE, LEVEL NUM, SCORE */
header {
  position: relative;
  top: 50px;
  width: 100vw;
  display: grid;
  height: 120px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  /* margin: 80px 0px 30px 0px; */
  align-items: center;
}

header > * {
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
  grid-row-start: 2;
}

#logo-holder h1 {
  font-size: 38px;
}

header > div > h1 {
  text-align: center;
  display: inline;
  font-size: 28px;
}

#score-num,
#level {
  margin-left: 5px;
}

#simon-container {
  width: 90px;
  height: 90px;
  grid-row-start: 1;
  grid-column-start: 2;
}

#head {
  position: relative;
  margin: 0 auto;
  top: 0px;
  width: 80px;
  height: 74px;
  background-color: #c68642;
  border-top: 8px solid black;
  border-radius: 100%;
  box-shadow: inset -3px -4px rgba(0, 0, 0, 0.15);
}

.ear {
  position: absolute;
  background-color: #c68642;
  width: 12px;
  height: 18px;
  border-radius: 100%;
  top: 15px;
  left: -5px;
}

.ear.right {
  transform: translateX(78px);
}

.eye {
  position: absolute;
  width: 13px;
  height: 16px;
  /* border: 1px solid black; */
  border-radius: 100%;
  background-color: white;
  top: 16px;
  left: 14px;
}

.eye.right {
  transform: translateX(30px);
}

.pupil {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 100%;
  top: 4px;
  left: 2px;
  animation: eyemove 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes eyemove {
  0% {
    top: 4px;
    left: 2px;
  }
  25% {
    top: 6px;
    left: 1px;
  }
  50% {
    top: 7px;
    left: 3px;
  }
  75% {
    top: 8px;
    left: 5px;
  }
  100% {
    top: 4px;
    left: 2px;
  }
}

#mouth {
  position: absolute;
  height: 15px;
  width: 35px;
  background-color: black;
  top: 38px;
  left: 18px;
  border-radius: 50px 50px 10% 10%;
  transform: rotate(180deg);
}

/* #simon-body {
  position: absolute;
  width: 50px;
  height: 20px;
  background-color: #c68642;
  position: relative;
  top: -10px;
  left: 18px;
  font-weight: bold;
  border-radius: 25%;
  z-index: -2;
} */

/* GAME SECTION */
/* COLOR WHEEL, INDIVIDUAL COLOR PIECES, NEW GAME BUTTON */
main {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

#color-wheel {
  width: 420px;
  height: 420px;
  margin: 0 auto;
  margin-top: -30px;
  position: relative;
  overflow: hidden;
  transform: rotate(18.8deg);
}

.color-piece {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border: 1px solid #636e72; */
  border-radius: 50%;
  clip-path: polygon(50% 50%, 60% 0%, 100% 0%, 100% 33.33%);
}

.color-piece:hover {
  cursor: help;
  box-shadow: inset 2px 5px 40px black;
}

.shimmer {
  opacity: 0.5;
}

#purple {
  transform: rotate(60deg);
  /* pie shape */
  /* background-color: #5f27cd; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #5f27cd 40%
  );
}

#orange {
  transform: rotate(120deg);
  /* pie shape */
  /* background-color: #ff793f; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #ff793f 40%
  );
}

#red {
  transform: rotate(180deg);
  /* pie shape */
  /* background-color: #ff5252; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #ff5252 40%
  );
}

#blue {
  transform: rotate(-60deg);
  /* pie shape */
  /* background-color: #2e86de; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #2e86de 40%
  );
}

#yellow {
  transform: rotate(-120deg);
  /* pie shape */
  /* background-color: #feca57; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #feca57 40%
  );
}

#green {
  transform: rotate(0deg);
  /* pie shape */
  /* background-color: #1dd1a1; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #1dd1a1 40%
  );
}

#new-game {
  display: block;
  height: 40px;
  width: 140px;
  margin: 68px auto 0 auto;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid #ff5252;
  background-color: white;
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 15px;
  box-shadow: 1px 5px 9px #95a5a6;
}

/* .parent < #new-game {
  border: 1px solid red;
} */

.bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#new-game:hover {
  cursor: pointer;
  border-top: 4px solid #ff793f;
  border-left: 4px solid #ff793f;
  border-right: 4px solid #ff793f;
  border-bottom: 4px solid #ff5252;
  background: #ff5252;
  color: white;
  border-radius: 15px;
}

#new-game:active {
  transform: translateY(2px);
  box-shadow: none;
}
@font-face {
  font-family: "Digital Clock";
  src: url("./img/digital-7.regular.ttf");
}

#timer {
  font-family: "Digital Clock";
  position: relative;
  left: 46.5%;
  top: 35%;
  font-size: 40px;
  width: 50px;
  text-align: center;
  color: #ff5252;
}
/* FOOTER SECTION */
footer {
  height: 60px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: #2d3436;
  z-index: 10;
}

footer img {
  width: 30px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 4px;
  vertical-align: middle;
}

footer div {
  grid-column-start: 2;
  width: 100%;
}

footer div h4 {
  margin-top: 15px;
  text-align: center;
  color: white;
}

footer a {
  text-decoration: none;
}

/* GAME MODALS */
#modal-holder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(45, 52, 52, 0.5);
}

.modal {
  width: 45vw;
  height: 200px;
  position: relative;
  margin: 0 auto;
  background-color: white;
  opacity: 0.9;
  top: 300px;
  border-radius: 45px;
  border: 4px solid #2d3436;
  z-index: 2;
}

.modal h1 {
  width: 50%;
  font-size: 20px;
  font-size: 2vw;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  color: black;
  /* border: 1px solid red; */
}

.modal div {
  display: flex;
  justify-content: center;
}

.modal button {
  /* display: block; */
  margin: 20px 20px 0px 20px;
  height: 40px;
  width: 140px;
  /* margin: 40px auto 0 auto; */
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid #ff5252;
  background-color: white;
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 15px;
  box-shadow: 1px 5px 9px #95a5a6;
}

.modal button:hover {
  cursor: pointer;
  border-top: 4px solid #ff793f;
  border-left: 4px solid #ff793f;
  border-right: 4px solid #ff793f;
  border-bottom: 4px solid #ff5252;
  background: #ff5252;
  color: white;
  border-radius: 15px;
}

.hide {
  display: none;
}

/* TODO: FIX HEIGHT OF ELEMS FOR VARIOUS MOBILE SCREEN SIZES */
/* MOBILE RESPONSIVE */
@media screen and (max-width: 767px) {
  html {
    /* height: 100vh;
    height: calc(var(--vh, 1vh) * 100); */
    /* overflow-y: hidden; */
  }

  body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    /* height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: hidden; */
  }

  header {
    top: 30px;
    height: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
  }

  header > div > h1 {
    font-size: 24px;
  }

  #simon-container {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 85px;
    margin-top: 15px;
  }

  #head {
    margin-top: 5px;
  }

  #logo-holder {
    grid-column: 1 / span 2;
    grid-row: 2;
    margin-top: 30px;
  }

  #level-holder {
    grid-column: 1;
    grid-row: 3;
    margin-right: 20px;
    margin-top: 0px;
  }

  #score-holder {
    grid-column: 2;
    grid-row: 3;
    margin-left: 20px;
    margin-top: 0px;
  }

  main {
    width: 300px;
    height: calc(var(--vh, 1vh) * 60);
    margin-top: -30px;
  }

  #color-wheel {
    width: 260px;
    height: 260px;
    margin-top: -30px;
    margin-bottom: -20px;
  }

  #timer {
    position: relative;
    left: 125px;
    top: 180px;
    overflow: visible;
    margin-bottom: 60px;
  }

  #new-game {
    margin: 0 auto;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 80vh;
    /* position: absolute;
    bottom: calc(var(--vh, 1vh) * 20); */
  }

  footer {
    width: 100%;

    grid-template-columns: 100%;
  }

  footer div {
    grid-column-start: 1;
    margin: 0 auto;
    margin-top: 5px;
    width: 150px;
  }

  footer div img {
    width: 20px;
  }

  footer div h4 {
    font-size: 12px;
  }

  .modal {
    top: 30%;
    width: 280px;
    height: 150px;
    border: none;
    border-radius: 20px;
  }

  .modal h1 {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    /* border: 1px solid red; */
    margin-top: 28px;
  }

  #continue-game {
    margin-left: 0px;
  }

  #start-over {
    margin-right: 0px;
  }

  .modal button:active {
    background: #ff5252;
  }
}
/* END MOBILE RESPONSIVE */
