/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
}

@media (max-width: 767px) {
  header {
    display: flex !important;
    flex-direction: column !important;
  }

  header > * > h1 {
    font-size: 18px;
  }

  #logo-holder {
    margin-top: 25px;
    margin-bottom: 22px;
  }

  #logo-holder h1 {
    display: block;
    font-size: 24px;
  }

  #logo-holder img {
    width: 50px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    /* border: 1px solid green; */
  }

  main {
    width: 100vw !important;
    height: 495px !important;
  }

  #color-wheel {
    width: 260px !important;
    height: 260px !important;
  }

  #timer {
    left: 44% !important;
    top: 31% !important;
  }

  footer div {
    margin-top: 5px;
  }

  footer div img {
    width: 20px;
  }

  footer div h4 {
    font-size: 12px;
  }
}

/* GENERAL */
body {
  font-family: "Nunito", sans-serif;
  color: #2d3436;
  background-image: url("./img/geometry.png");
  /* background-color: #f1f2f6; */
}

/* TOP SECTION */
/* GAME TITLE, LEVEL NUM, SCORE */
header {
  width: 100vw;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 30px 0px 30px 0px;
}

header > * {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#logo-holder {
  width: 180px;
  /* border: 1px solid red; */
}

#logo-holder img {
  width: 50px;
  /* border: 1px solid green; */
  vertical-align: middle;
}

#logo-holder h1 {
  /* border: 1px solid black; */
  vertical-align: middle;
  /* margin-bottom: 5px; */
}

header > div > h1 {
  text-align: center;
  display: inline;
}

#score-num {
  margin-left: 5px;
}

.prevent-click {
  pointer-events: none;
}

/* GAME SECTION */
/* COLOR WHEEL, INDIVIDUAL COLOR PIECES, NEW GAME BUTTON */
main {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

#color-wheel {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: rotate(18deg);
}

.color-piece {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border: 1px solid #636e72; */
  border-radius: 50%;
  clip-path: polygon(50% 50%, 60% 0%, 100% 0%, 100% 33.33%);
}

.color-piece:hover {
  cursor: help;
}

.shimmer {
  opacity: 0.5;
}

#purple {
  transform: rotate(60deg);
  /* pie shape */
  /* background-color: #5f27cd; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #5f27cd 40%
  );
}

#orange {
  transform: rotate(120deg);
  /* pie shape */
  /* background-color: #ff793f; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #ff793f 40%
  );
}

#red {
  transform: rotate(180deg);
  /* pie shape */
  /* background-color: #ff5252; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #ff5252 40%
  );
}

#blue {
  transform: rotate(-60deg);
  /* pie shape */
  /* background-color: #2e86de; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #2e86de 40%
  );
}

#yellow {
  transform: rotate(-120deg);
  /* pie shape */
  /* background-color: #feca57; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #feca57 40%
  );
}

#green {
  /* pie shape */
  /* background-color: #1dd1a1; */

  /* donut shape */
  background: radial-gradient(
    farthest-side at center,
    transparent 40%,
    #1dd1a1 40%
  );
}

#new-game {
  display: block;
  height: 40px;
  width: 140px;
  margin: 68px auto 0 auto;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid #ff5252;
  background-color: white;
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 15px;
  box-shadow: 1px 5px 9px #95a5a6;
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#new-game:hover {
  cursor: pointer;
  border-top: 4px solid #ff793f;
  border-left: 4px solid #ff793f;
  border-right: 4px solid #ff793f;
  border-bottom: 4px solid #ff5252;
  background: #ff5252;
  color: white;
  border-radius: 15px;
}

#new-game:active {
  transform: translateY(2px);
  box-shadow: none;
}

#timer {
  position: relative;
  left: 46.5%;
  top: 45%;
  font-size: 30px;
  width: 50px;
  text-align: center;
  color: #ff5252;
}
/* FOOTER SECTION */
footer {
  height: 60px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: #2d3436;
}

footer img {
  width: 30px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 4px;
  vertical-align: middle;
}

footer div {
  grid-column-start: 2;
  width: 100%;
}

footer div h4 {
  margin-top: 15px;
  text-align: center;
  color: white;
}

/* GAME OVER MODAL */

/* START NEW GAME MODAL */
#modal-holder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(45, 52, 52, 0.5);
}

.modal {
  width: 45vw;
  height: 200px;
  position: relative;
  margin: 0 auto;
  background-color: white;
  opacity: 0.9;
  top: 300px;
  border-radius: 45px;
  border: 4px solid #2d3436;
  z-index: 2;
}

.modal h1 {
  width: 50%;
  font-size: 20px;
  font-size: 2vw;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  color: black;
  /* border: 1px solid red; */
}

.modal div {
  display: flex;
  justify-content: center;
}

.modal button {
  /* display: block; */
  margin: 20px 20px 0px 20px;
  height: 40px;
  width: 140px;
  /* margin: 40px auto 0 auto; */
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid #ff5252;
  background-color: white;
  color: black;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 15px;
  box-shadow: 1px 5px 9px #95a5a6;
}

.modal button:hover {
  cursor: pointer;
  border-top: 4px solid #ff793f;
  border-left: 4px solid #ff793f;
  border-right: 4px solid #ff793f;
  border-bottom: 4px solid #ff5252;
  background: #ff5252;
  color: white;
  border-radius: 15px;
}

.hide {
  display: none;
}
